@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .clip-circle-50px {
    clip-path: circle(50px at center center);
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-red-700;
  color: rgb(var(--foreground-rgb));
  background: red;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
